<html>
    <head>
        <title>CTOS</title>
        <link rel="stylesheet" type="text/css" href= "../static/styles/homepage.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    </head>
    <body>
        <header id="header">
            <div id="head">
                <img src="{{ url_for('static', filename='images/CTOS.svg') }}">
            </div>
        </header>
        <div class="container">
        <h2>Clothes Try-on System</h2>
            <input type="button" onclick="window.location.href='{{ url_for( 'upload') }}';" value="Lets Get Started" id="button">
        </div>
        <!-- <footer id="footer">
            <div id="leftpart">
                <h2>About Us</h2>
                <p></p>
            </div>
        </footer> -->
    </body>
</html>
